*.psd filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.tbe filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
*.bytes filter=lfs diff=lfs merge=lfs -text
*.lineobj filter=lfs diff=lfs merge=lfs -text
/Assets/Arts/Cathedral/Materials/TextureArray_Cathedrale/*.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Arts/Cathedral/Scenes/Top_Cathedral_Leo/LightingData.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Arts/Cathedral/Textures/Textures_Array/*.asset filter=lfs diff=lfs merge=lfs -text
/Assets/AmplifyShaderEditor/Examples/Official/TextureArray/*.asset filter=lfs diff=lfs merge=lfs -text
/Assets/FbxExporters/Editor/FbxSdk/Plugins/x64/MacOS/UnityFbxSdkNative.bundle/Contents/MacOS/UnityFbxSdkNative filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Mega-Fiers/Modifiers.unity filter=lfs diff=lfs merge=lfs -text
libSourceInterfacex64.dylib filter=lfs diff=lfs merge=lfs -text
/Assets/Resources/SceneRoot_*.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/SVFUnityPlugin/Platforms/iOS/Plugins/libSVFUnityPluginIOS.a filter=lfs diff=lfs merge=lfs -text
/Assets/Samples/TextureArrays/TestTexArray.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/KosmikKontrol/*.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/KosmikKontrol/WorkScenes/*.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/KosmikKontrol/WorkScenes/Sets/*.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Old/*.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Profiling/*.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scripts/KosmikKontrol/Demo/Instantiate.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Scripts/KosmikKontrol/Demo/Scenes/KosmikSingleton.s01.unity filter=lfs diff=lfs merge=lfs -text
/Assets/SteamVR/Scenes/example.unity filter=lfs diff=lfs merge=lfs -text
/Assets/SuperCombiner/Combined/Meshes/BananaTrees_GRP_combinedSession_BananaTrees_GRP_combinedSession_0_mesh0.asset filter=lfs diff=lfs merge=lfs -text
/Assets/UTJ/Alembic/Plugins/x86_64/abci.bundle/Contents/MacOS/abci filter=lfs diff=lfs merge=lfs -text
/Assets/UTJ/Alembic/Plugins/x86_64/libabci.so filter=lfs diff=lfs merge=lfs -text
/Assets/Arts/Maloca/Scenes/Maloca_Lighting_Shading.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Raymarching/Resources/HashCubemap.cubemap filter=lfs diff=lfs merge=lfs -text
/Assets/Arts/LightTower/Scenes/Shader Test.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Unity[[:space:]]Recorder/Editor/Sources/Recorders/_Legacy/FrameCapturer/Plugins/** filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/Spatial[[:space:]]Media[[:space:]]Metadata[[:space:]]Injector filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/ffmpeg.meta filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/Spatial[[:space:]]Media[[:space:]]Metadata[[:space:]]Injector.exe.meta filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/Spatial[[:space:]]Media[[:space:]]Metadata[[:space:]]Injector.meta filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/exiftool.exe filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/exiftool.exe.meta filter=lfs diff=lfs merge=lfs -text
Assets/VRPanorama/StreamingAssets/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Audio360/Plugins/** filter=lfs diff=lfs merge=lfs -text
Assets/Arts/Maloca/Scenes/Maloca_Lighting_Shading_Optimization.unity filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/** filter=lfs diff=lfs merge=lfs -text
FMOD_Assets/Desktop/Master filter=lfs diff=lfs merge=lfs -text
Bank.bank filter=lfs diff=lfs merge=lfs -text
FMOD_Assets/Desktop/Master[[:space:]]Bank.bank filter=lfs diff=lfs merge=lfs -text
Assets/StreamingAssets/Master[[:space:]]Bank.bank filter=lfs diff=lfs merge=lfs -text
